<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="mainpage.css">
    <title>Error 404</title>
    <link rel="icon" type="image/x-icon" href="logo.png">
</head>
<body>
    <nav>
        <a href="/"><img src="logo.png" alt="logo hoot'let" style="float:left" height=100px ></a>
        <ul>
            <li><a href="/" class = "active">Accueil</a></li>
            <li><a href="/classement">Classement</a></li>
            <li><a href="/creation">Créer un quiz</a></li>
            <li><a href="/login"><%= username %></a></li>
            <% if (username != "Se connecter") { %>
                <li><a href="/profil">Profil</a></li>
            <% } %>
        </ul>
    </nav>
<div class="error">
    <h1>ERREUR 404</h1>
    <p>La page que vous recherchez n'existe pas</p>
</div>
</body>
</html>
