<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Création d'un quizz</title>
    <link rel="stylesheet" href="mainpage.css" />
    <link rel="icon" type="image/x-icon" href="logo.jpg" />
  </head>
  <body>
    <nav>
      <a href="mainpage.html"
        ><img
          src="logo.jpg"
          alt="logo hoot'let"
          style="float: left"
          height="100px"
      /></a>
      <input
        style="margin-bottom: 0px a; display: inline"
        name="research"
        id="research"
        type="search"
        placeholder="Rechercer un quiz"
        size="80%"
        height="50%"
      />
      <ul>
        <li><a href="/mainpage.ejs" class="active">accueil</a></li>
        <li><a href="/classement.html">classement</a></li>
        <li><a href="/creationpage.html">créer un quiz</a></li>
        <li><a href="/loginpage.html"><%= username %></a></li>
      </ul>
    </nav>
    <div class="container">
      <h1>Mon Quizz</h1>
      <form id="quizForm">
        <label for="category">Choisissez une catégorie :</label>
        <select id="category" name="category">
          <option value="mathematique">Mathématique</option>
          <option value="francais">Français</option>
          <!-- Ajoute d'autres options pour les autres catégories -->
        </select>
        <div class="question">
          <h2>Question 1 :</h2>
          <label for="correctAnswer1">Réponse correcte :</label>
          <input
            type="text"
            id="correctAnswer1"
            name="correctAnswer1"
            required
          />

          <label for="wrongAnswer1_1">Réponse fausse :</label>
          <input
            type="text"
            id="wrongAnswer1_1"
            name="wrongAnswer1_1"
            required
          />

          <label for="wrongAnswer1_2">Réponse fausse :</label>
          <input
            type="text"
            id="wrongAnswer1_2"
            name="wrongAnswer1_2"
            required
          />

          <label for="wrongAnswer1_3">Réponse fausse :</label>
          <input
            type="text"
            id="wrongAnswer1_3"
            name="wrongAnswer1_3"
            required
          />
        </div>

        <div class="question">
          <h2>Question 2 :</h2>
          <label for="correctAnswer2">Réponse correcte :</label>
          <input
            type="text"
            id="correctAnswer2"
            name="correctAnswer2"
            required
          />

          <label for="wrongAnswer2_1">Réponse fausse :</label>
          <input
            type="text"
            id="wrongAnswer2_1"
            name="wrongAnswer2_1"
            required
          />

          <label for="wrongAnswer2_2">Réponse fausse :</label>
          <input
            type="text"
            id="wrongAnswer2_2"
            name="wrongAnswer2_2"
            required
          />

          <label for="wrongAnswer2_3">Réponse fausse :</label>
          <input
            type="text"
            id="wrongAnswer2_3"
            name="wrongAnswer2_3"
            required
          />
        </div>
        <!-- Ajoute d'autres div pour plus de questions -->

        <input type="submit" value="Soumettre" />
      </form>
      <div id="result"></div>
    </div>
  </body>
</html>
