<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="icon" type="image/x-icon" href="logo.jpg">
    <link rel="stylesheet" href="mainpage.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Quiz Form</title>
    <style>
        .question-container {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<nav>
    <a href="/"><img src="logo.png" alt="logo hoot'let" style="float:left" height=100px ></a>
    <input style="margin-bottom: 0px a; display: inline;" name="research" id="research" type="search" placeholder="Rechercher un quiz" size="80%" height="50%"  />
    <ul>
        <li><a href="/" class = "active">accueil</a></li>
        <li><a href="/classement">classement</a></li>
        <li><a href="/creation">créer un quiz</a></li>
        <li><a href="/login"><%= username %></a></li>
    </ul>
</nav>
<h1>Quiz Form</h1>

<form id="quizForm" onsubmit="submitQuizz(event, <%= JSON.stringify(username) %>)">

    <label for="name">Name:</label>
    <input type="text" name="name" required>

    <label for="category">Category:</label>
    <input type="text" name="category" required>

    <div class="question-container">
        <label for="question1">Question 1:</label>
        <input type="text" name="question1" required>
        <button type="button" onclick="addAnswerField(1)">Add Answer</button>
        <div id="answersContainer1"></div>
    </div>

    <button type="button" onclick="addQuestionField()">Add Question</button>

    <button type="submit">Submit</button>
</form>

<script src="/creation.js"></script>
<script>
    let questionCounter = 1;
</script>

</body>
</html>
