<!DOCTYPE html>
<html>
  <head>
    <title>Se connecter</title>
    <link rel="stylesheet" type="text/css" href="\content\style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="main">
      <input type="checkbox" id="chk" aria-hidden="true" />
      <div class="signup">
        <form action="login" method="post" class="form-fields">
          <label for="chk" aria-hidden="true">Sign up</label>
          <% if (error_register) { %>
          <div class="error-message">
            Utilisateur invalide : le nom d'utilisateur est déjà utilisé.
          </div>
          <% } %>
          <input
            type="text"
            name="registerUsername"
            id="registerUsername"
            required
            placeholder="Nom d'Utilisateur"
          />

          <input
            type="password"
            name="registerPassword"
            id="registerPassword"
            required
            placeholder="Mot de Passe"
          />
          <button type="submit">Sign up</button>
        </form>
      </div>

      <div class="login">
        <form action="login" method="post" class="form-fields">
          <label for="chk" aria-hidden="true">Login</label>
          <% if (error_login) { %>
          <div class="error-message">
            Utilisateur invalide : nom d'utilisateur ou mot de passe incorrect.
          </div>
          <% } %>
          <input
            type="text"
            name="loginUsername"
            id="loginUsername"
            required
            placeholder="Nom d'Utilisateur"
          />
          <input
            type="password"
            name="loginPassword"
            id="loginPassword"
            required
            placeholder="Mot de Passe"
          />
          <button type="submit">Login</button>
        </form>
      </div>
    </div>
  </body>
</html>
