<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="mainpage.css">
<link rel="icon" type="image/x-icon" href="logo.jpg">
<title>connection</title>
</head>
<body>
<nav>
    <a href="/"><img src="logo.jpg" alt="logo hoot'let" style="float:left" height=100px ></a>
    <input style="margin-bottom: 0px a; display: inline;" name="research" id="research" type="search" placeholder="Rechercer un quiz" size="80%" height="50%"  />
    <ul>
        <li><a href="/" class = "active">accueil</a></li>
        <li><a href="/classement">classement</a></li>
        <li><a href="/creation">créer un quiz</a></li>
        <li><a href="/login"><%= username %></a></li>
    </ul>
</nav>
		<% if (error_login) { %>
			<div class="error-message">
				Utilisateur invalide : nom d'utilisateur ou mot de passe incorrect.
			</div>
		<% } %>

		<div class="login_container">
			<h2>Se connecter</h2>
			<form action="login" method="post" class="form-fields">
				<input type="text" name="loginUsername" id="loginUsername" required placeholder="Nom d'Utilisateur">
				<input type="password" name="loginPassword" id="loginPassword" required placeholder="Mot de Passe">
				<button type="submit" class="btn">Connexion</button>
			</form>
		</div>
		<br>
		<h2>OU</h2>
		<br>

		<% if (error_register) { %>
			<div class="error-message">
				Utilisateur invalide : le nom d'utilisateur est déjà utilisé.
			</div>
		<% } %>

		<div class="login_container">
			<h2>S'enregistrer</h2>
			<form action="login" method="post" class="form-fields">
				<input type="text" name="registerUsername" id="registerUsername" required placeholder="Nom d'Utilisateur">
				<input type="password" name="registerPassword" id="registerPassword" required placeholder="Mot de Passe">
				<button type="submit" class="btn">S'enregistrer</button>
			</form>
		</div>
	</body>
</html>
