<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lobby</title>
</head>
<body>
    <%= username %>
    <h1>Titre</h1>
    <p>paragraphe</p>
    <p><%= JSON.stringify(data) %></p>
</body>
</html>