<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="mainpage.css">
    <title>Accueil</title>
    <link rel="icon" type="image/x-icon" href="logo.png">
</head>
<body>
<nav>
    <a href="/"><img src="logo.png" alt="logo hoot'let" style="float:left" height=100px ></a>
    <input style="margin-bottom: 0px a; display: inline;" name="research" id="research" type="search" placeholder="Rechercher un quiz" size="80%" height="50%"  />
    <ul>
        <li><a href="/" class = "active">Accueil</a></li>
        <li><a href="/classement">Classement</a></li>
        <li><a href="/creation">Créer un quiz</a></li>
        <li><a href="/login"><%= username %></a></li>
        <% if (username != "Se connecter") { %>
			<li><a href="/profil">Profil</a></li>
		<% } %>
    </ul>
</nav>
<div class="quiz-wrapper" id="quiz-container"></div>
<% if (username == "assistant") { %>
<br><br>
<div class="butsub"><a href="/getExemple"><button class="grey_button" name="button">remplir la page d'exemples</button></a></div>
<br>
<div class="butsub"><a href="/delete"><button class="grey_button" name="button">vider la page</button></a></div>
<% } %>
</body>
<script src="/script.js"></script>
<script>
    // is run every time this page is loaded, set inner HTML
    const appPath = "/like";
    const imgPath = "coeur.png";
    const goTo = "/";
    create_table(<%- JSON.stringify(data || []) %>);
</script>
</html>
