<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Profil</title>
    <link rel="stylesheet" href="mainpage.css" />
    <link rel="icon" type="image/x-icon" href="logo.png" />
    <script src="/script.js"></script>
  </head>
  <body>
    <nav>
      <a href="/"><img src="logo.png" alt="logo hoot'let" style="float:left" height=100px ></a>
      <input style="margin-bottom: 0px a; display: inline;" name="research" id="research" type="search" placeholder="Rechercher un quiz" size="80%" height="50%"  />
      <ul>
          <li><a href="/" class = "active">Accueil</a></li>
          <li><a href="/classement">Classement</a></li>
          <li><a href="/creation">Créer un quiz</a></li>
          <li><a href="/login"><%= username %></a></li>
          <% if (username != "Se connecter") { %>
            <li><a href="/profil">Profil</a></li>
          <% } %>
      </ul>
    </nav>
    <p>Mes Quizz</p>
    <div class="quiz-wrapper" id="quiz-container"></div>
  </body>
  <script>
      // is run every time this page is loaded, set inner HTML
    const appPath = "/destroy";
    const imgPath = "bin.png";
    const goTo = "/profil";
    create_table(<%- JSON.stringify(data || []) %>);
  </script>
</html>
