nav {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  background: #bee2f2;
}
body {
  background-color: #e4eef2;
  font-size: 0.9em;
  font-family: sans-serif;
}
input {
  display: block;
  margin-bottom: 10px;
}
.button {
  background-color: #c3e4f2;
  border-radius: 8px;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  width: 250px;
  line-height: 20px;
  margin: 0;
  padding: 0 20px;
  position: relative;
  text-align: center;
  vertical-align: auto;
  font-size: medium;
}
.button:hover {
  background-color: aliceblue;
}
#research {
  position: relative;
  background-color: #f0f0f0;
  border-radius: 50px 50px 50px 50px;
  padding: 10px 20px 10px 20px;
  border: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
  position: relative;
  font-weight: 300;
}

nav ul li a {
  color: black;
  text-decoration: none;
}
nav ul li a.active {
  padding: 10px;
  background-size: 100%;
  border-radius: 20px;
  color: white;
  background: #074b65;
}
nav ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: #074b65;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
nav ul li:hover::after {
  width: 100%;
}
.quiz-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 50px;
}
.quiz {
  min-width: 300px;
  min-height: 40px;
  height: auto;
  background: #205d75;
  border: solid #074b65 2px;
  border-radius: 20px;
  backdrop-filter: blur(15px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  text-align: center;
  text-align: center;
}
.coeur {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  height: "40px";
}
.compteur-like {
  color: white;
  align-items: center;
  vertical-align: center;
}
/* Reset des styles par défaut */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style du tableau et du contenu */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}
.container2 {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

table {
  width: 100%;
  border: 2px solid #333; /* Ajout de contour autour du tableau */
  border-collapse: collapse; /* Pour fusionner les bordures de cellules */
  margin-top: 20px;
}

th,
td {
  border: 1px solid #333; /* Contours des cellules */
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

/* Style du titre */
h1 {
  text-align: center;
  margin-bottom: 20px;
}

/* Styles pour aligner verticalement les éléments */
.question {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login_container {
	max-width: 400px;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #f9f9f9;
	text-align: center;
}

/* Ajoute d'autres styles CSS si nécessaire */

h2 {
  text-align: center;
}

h4 {
  color: white;
}

.btn {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.error-message {
  color: rgb(189, 9, 9);
  text-align: center;
  padding: 10px;
}

.form-fields {
	padding : 10 px;
	display: inline-block;
}
